# Bias-Variance Trade-Off - Lab

## Introduction

In this lab, you'll practice your knowledge on the bias-variance trade-off!

## Objectives

You will be able to: 
- Look at an example where Polynomial regression leads to overfitting
- Understand how bias-variance trade-off relates to underfitting and overfitting

## Let's get started!

In this lab, you'll try to predict some movie revenues based on certain factors, such as ratings and movie year.

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_excel('./movie_data_detailed_with_ols.xlsx')
df.head()

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
0,13000000,25682380,21 &amp; Over,0,2008,6.8,48,206513,4.912759e+07
1,45658735,13414714,Dredd 3D,0,2012,0.0,0,0,2.267265e+05
2,20000000,53107035,12 Years a Slave,0,2013,8.1,96,537525,1.626624e+08
3,61000000,75612460,2 Guns,0,2013,6.7,55,173726,7.723381e+07
4,40000000,95020213,42,0,2013,7.5,62,74170,4.151958e+07

In [2]:
# Only keep four predictors and transform the with MinMaxScaler

scale = MinMaxScaler()
df = df[[ "domgross", "budget", "imdbRating", "Metascore", "imdbVotes"]]
transformed = scale.fit_transform(df)
pd_df = pd.DataFrame(transformed, columns = df.columns)
pd_df.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

   domgross    budget  imdbRating  Metascore  imdbVotes
0  0.055325  0.034169    0.839506   0.500000   0.384192
1  0.023779  0.182956    0.000000   0.000000   0.000000
2  0.125847  0.066059    1.000000   1.000000   1.000000
3  0.183719  0.252847    0.827160   0.572917   0.323196
4  0.233625  0.157175    0.925926   0.645833   0.137984

## Split the data into a test and train set

In [3]:
pd_df.head()

   domgross    budget  imdbRating  Metascore  imdbVotes
0  0.055325  0.034169    0.839506   0.500000   0.384192
1  0.023779  0.182956    0.000000   0.000000   0.000000
2  0.125847  0.066059    1.000000   1.000000   1.000000
3  0.183719  0.252847    0.827160   0.572917   0.323196
4  0.233625  0.157175    0.925926   0.645833   0.137984

In [4]:
# domgross is the outcome variable
from sklearn.model_selection import train_test_split
x=pd_df.drop('domgross', axis=1)
y=pd_df['domgross']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=34567)

In [5]:
#Your code here
df_train = pd.concat([y_train, x_train], axis=1, ignore_index=True)
data_train = df_train.sort_values([0])
data_train.columns = list(pd_df.columns)

df_test = pd.concat([y_test, x_test], axis=1, ignore_index=True)
data_test = df_test.sort_values([0])
data_test.columns = list(pd_df.columns)

In [13]:
x_train

      budget  imdbRating  Metascore  imdbVotes
12  0.202733    0.765432   0.541667   0.141391
25  0.703872    0.000000   0.000000   0.000000
11  0.088838    0.888889   0.604167   0.141173
1   0.182956    0.000000   0.000000   0.000000
28  0.248292    0.827160   0.416667   0.351325
7   0.029613    0.962963   0.572917   0.446653
5   1.000000    0.777778   0.291667   0.239554
17  0.321185    0.913580   0.645833   0.603998
21  0.430524    0.827160   0.541667   0.171879
9   0.567198    0.604938   0.343750   0.324385
23  0.293850    0.827160   0.510417   0.369782
27  0.612756    0.716049   0.427083   0.294330
19  0.521640    0.814815   0.635417   0.703467
8   0.034169    0.703704   0.500000   0.056883
2   0.066059    1.000000   1.000000   1.000000
10  0.157175    0.901235   0.937500   0.741156
20  0.476082    0.000000   0.000000   0.000000
4   0.157175    0.925926   0.645833   0.137984
29  0.111617    0.876543   0.000000   0.000000
22  0.157175    0.728395   0.364583   0.041728
18  0.000000    0.814815   0.687500   0.388722

In [12]:
x_train.values.reshape(-1,4)

array([[0.20273349, 0.7654321 , 0.54166667, 0.14139063],
       [0.70387244, 0.        , 0.        , 0.        ],
       [0.08883827, 0.88888889, 0.60416667, 0.14117297],
       [0.18295551, 0.        , 0.        , 0.        ],
       [0.24829157, 0.82716049, 0.41666667, 0.35132505],
       [0.02961276, 0.96296296, 0.57291667, 0.44665271],
       [1.        , 0.77777778, 0.29166667, 0.23955351],
       [0.32118451, 0.91358025, 0.64583333, 0.60399795],
       [0.43052392, 0.82716049, 0.54166667, 0.17187852],
       [0.56719818, 0.60493827, 0.34375   , 0.32438491],
       [0.29384966, 0.82716049, 0.51041667, 0.36978187],
       [0.61275626, 0.71604938, 0.42708333, 0.2943305 ],
       [0.52164009, 0.81481481, 0.63541667, 0.70346682],
       [0.03416856, 0.7037037 , 0.5       , 0.05688294],
       [0.06605923, 1.        , 1.        , 1.        ],
       [0.1571754 , 0.90123457, 0.9375    , 0.74115623],
       [0.476082  , 0.        , 0.        , 0.        ],
       [0.1571754 , 0.92592593, 0.64583333, 0.13798428],
       [0.11161731, 0.87654321, 0.        , 0.        ],
       [0.1571754 , 0.72839506, 0.36458333, 0.04172829],
       [0.        , 0.81481481, 0.6875    , 0.38872239]])

## Fit a regression model to the training data and look at the coefficients

In [ ]:
#Your code 
from sklearn.linear_model import LinearRegression()
reg = LinearRegression().fit(y_train.values.reshape(-1, 1), data_train[1])

## Plot the training predictions against the actual data (y_hat_train vs. y_train)

Let's plot our result for the train data. Because we have multiple predictors, we can not simply plot the income variable X on the x-axis and target y on the y-axis. Lets plot 
- A line showing the diagonal of y_train. The actual y_train values are on this line
- Next, make a scatter plot that takes the actual y_train on the x-axis and the predictions using the model on the y-axis. You will see points scattered around the line. The horizontal distances between the points and the lines are the errors.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
# your code here

## Plot the test predictions against the actual data (y_hat_test vs. y_test)

Do the same thing for the test data.

In [ ]:
# your code here

## Calculate the bias
Create a function `bias` to calculate the bias of a models predictions given the actual data: $Bias(\hat{f}(x)) = E[\hat{f}(x)-f(x)]$   
(The expected value can simply be taken as the mean or average value.)

In [ ]:
import numpy as np
def bias(y, y_hat):
    pass

## Calculate the variance
Create a function `variance` to calculate the variance of a model's predictions: $Var(\hat{f}(x)) = E[\hat{f}(x)^2] - \big(E[\hat{f}(x)]\big)^2$

In [ ]:
def variance(y_hat):
    pass

## Use your functions to calculate the bias and variance of your model. Do this separately for the train and test sets.

In [ ]:
# code for train set bias and variance

In [ ]:
# code for test set bias and variance

## Describe in words what these numbers can tell you.

Your description here (this cell is formatted using markdown)

## Overfit a new model by creating additional features by raising current features to various powers.

Use `PolynomialFeatures` with degree 3. 

**Important note:** By including this, you don't only take polynomials of single variables, but you also combine variables, eg:

$ \text{Budget} * \text{MetaScore} ^ 2 $

What you're essentially doing is taking interactions and creating polynomials at the same time! Have a look at how many columns we get using `np.shape`. Quite a few!

In [ ]:
from sklearn.preprocessing import PolynomialFeatures\
# your code here

## Plot your overfitted model's training predictions against the actual data

In [ ]:
# your code here

Wow, we almost get a perfect fit!

## Calculate the bias and variance for the train set

In [ ]:
# your code here

## Plot your overfitted model's test predictions against the actual data.

In [ ]:
# your code here

##  Calculate the bias and variance for the train set.

In [ ]:
# your code here

## Describe what you notice about the bias and variance statistics for your overfit model

Your description here (this cell is formatted using markdown)

## Level Up - Optional

In this lab we went from 4 predictors to 35 by adding polynomials and interactions, using `PolynomialFeatures`. That being said, where 35 leads to overfitting, there are probably ways to improve by just adding a few polynomials. Feel free to experiment and see how bias and variance improve!

## Summary

This lab gave you insight into how bias and variance change for a training and a test set by using a pretty "simple" model, and a very complex model.